@model FastDDHL.Models.AuthenticateModel

@{
    ViewData["Title"] = "Login";
}


<form asp-action="proceed" method="post">
    Password <br />
    <input asp-for="PurePassword" class="form-control" />
    <br />
    <button type="submit" class="btn btn-primary">Hash</button>
</form>

@if (Model != null)
{
    <p>
        <label>Password Original : </label>
        <div class="label label-success">
            @Model.PurePassword
        </div>
    </p>
    <p>
        <label>Password Hash :</label>
        <div class="label label-danger">
            @Model.HashPassword
        </div>
    </p>

}

